*, *::before, *::after {
  box-sizing: border-box;
  font-family: Georgia, serif;
}

body {
  background-color: #333;
}

.container {
  margin: auto;
  width: 800px;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.btnGrid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: #c2c2a3;
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.bottom {
  margin: auto;
  width: 800px;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
}
